.container-fluid {

}
.firstSlide {
  height: calc(100vh - 48px);
  max-height: 70vw;

}

.slideEntier {
  width: 100%;
  height: 100%;
}
.imageRight {
  background-image: url(https://cdn.doordash.com/static/img/consumer/homepage/hero/morning/right.jpg);
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path:polygon(100% 0%,100% 100%,50% 100%,0% 0%);
  
}
.imageLeft {
  background-image: url(https://cdn.doordash.com/static/img/consumer/homepage/hero/spirits/left.jpg);
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0,50% 0,100% 100%,0% 100%);
}

/* footer */

footer{
  background-color: rgb(51, 51, 51);
}

#conteneur{
  display: flex;
  justify-content:space-around ;
}


#more{
  display: flex;
  justify-content: flex-start;
}

#more ul{
  list-style: none;
}

#conteneur ul{
  list-style: none;
}

footer a {color: white;
}

.morerules li{
  display: inline-flex;
  
}

.logo li{
  max-width: 50px;
  max max-height: 25px;
}