.container-fluid {

}

.header {
  width: 100%;
  background: #fff;
  height: 48px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  z-index: 1000;

}

.logoHeader {
  width: 100%;
  text-align: center;
}

.buttonSignIn {
  background: white;
  color: #FF3008;
  height: 100%;
}

.firstSlide {
  height: calc(100vh - 48px);
  max-height: 70vw;

}

.imageRight {
  background-image: url(https://cdn.doordash.com/static/img/consumer/homepage/hero/morning/right.jpg);
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path:polygon(100% 0%,100% 100%,50% 100%,0% 0%);
  transform: translateX(1%);
}

.imageLeft {
  background-image: url(https://cdn.doordash.com/static/img/consumer/homepage/hero/spirits/left.jpg);
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0,50% 0,100% 100%,0% 100%);
  transform: translate(-25%, -100%);
}

.textFirstSlide {
  max-width: 100%;
  padding: 24px;
  position: absolute;
  color: white;
  top: 30%;
}

.lien {
  background: #ff3008;
  padding: 64px;
  text-align: center;
}

.titrelien {
  font-size: 32px;
  color: #ffffff;
}
