.container-fluid {

}
.firstSlide {
  height: calc(100vh - 48px);
  max-height: 70vw;

}

.slideEntier {
  width: 100%;
  height: 100%;
}
.imageRight {
  background-image: url(https://cdn.doordash.com/static/img/consumer/homepage/hero/morning/right.jpg);
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path:polygon(100% 0%,100% 100%,50% 100%,0% 0%);
  
}
.imageLeft {
  background-image: url(https://cdn.doordash.com/static/img/consumer/homepage/hero/spirits/left.jpg);
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0,50% 0,100% 100%,0% 100%);
}
/* BARRE DE RECHERCHE DU BAS + GET THE APP */

.rechercheTop {
  display: -webkit-box;
}

.searchTop {
  line-height: 42px;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.searchButon {
  background-color: #FF3008;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  line-height: 42px;
  padding: 1px 3em;
  transform: translateX(-20%);
}

.gettheApp {
  transform: translate(0%, 55%)
}

.mobileAppIcon {
  transform: translate(40%, -100%);
}

/* footer */

.container-fluid {
  padding-bottom: 15px;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

footer{
  background-color: rgb(51, 51, 51);
}


footer a {
  color:rgb(214, 214, 194);
}

.texteFooter {
  list-style: none;
}


.titleFooter{
  color: white;
  font-weight: bold;
  font-size: 15px;
  list-style: none;
}

.logoFooter ul{
  list-style: none;
  width: 50px;
}

ul {
  list-style: none;
}

